*{
    margin:0;
    padding:0;
    font-family:sans-serif;
    box-sizing: border-box;
   
}
body {
    background-color:#7478c3;
}
.main-container{
      margin: 50px auto;
      padding: 20px;
      text-align: center;
      background: linear-gradient(#e7b2b2, #88c8c9);
      box-shadow:10px 10px 10px rgb(121, 141, 81);
   width: 70%;
max-width:400px;
}
.header{
    display:flex;
    justify-content: space-evenly;
    padding:20px;
    text-align: center;
}
.header h1{
    font-weight: 800;
    color:rgb(80, 9, 9);
}
.header img{
    width:40px;
    height:40px;
}
.search-box{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    padding-left: 20px;
    border-radius: 30px;
    background: #edeef0;
}
.search-box #task{
    width:70%;
    flex:1;
    font-size:18px;
    font-weight: 700;
    padding:10px;
    background:transparent;
    border:none;
    outline: none;
    color:rgb(6, 106, 129);
}
.add-btn{
     font-size:25px;
    background-color: rgb(67, 152, 67);
    color:rgb(234, 196, 145);
    padding:16px 50px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
}

ul li{
    list-style: none;
    color:rgb(90, 51, 4);
    font-size:22px;
    padding:12px 8px 12px 50px;
    font-weight:700;
   user-select: none;
   cursor:pointer;
   position: relative;
   text-align:left;
}
ul li::before{
    content:'';
    position:absolute;
    height:28px;
    width:28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top:12px;
    left:8px;
   
}
ul li.checked{
    color:#555;
    text-decoration: line-through;
   
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span {
    position:absolute;
    right:0;
    top:5px;
    height:40px;
    width:40px;
    font-size: 20px;
    color: #555;
    line-height:  40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}
